* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.aireCarrusel{
	height: 20px;
}

#overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(108,189,180);
	background: linear-gradient(90deg, rgba(108,189,180,0.5) 0%, rgba(76,91,252,0.5) 50%, rgba(53,92,167,0.5) 100%);
	z-index: 2;
}

/*Disclaimer*/
.disclaimer{
	font-size: small;
	margin-left:15.65pt;
	text-indent:-15.65pt;
	margin:0.3em;
	color: black;
	text-align: left;
}
sup{
	font-size: 60%;
}
/*/Disclaimer*/

.col-mini, .col-margen {
    position: relative;
    min-height: 1px;
    padding-right: none;
    padding-left: none;
}
/*Texto*/
.titulo{
	color: #355CA7;
	font-weight: bold;
}
#textoPresentacion{
	color: white;
}
/*/Texto*/


/*Colores*/
	.fondo-teal{
		background-color: #3cadb8;
	}
	.fondo-verde{
		background-color: #6cbdb4;;
	}
	.fondo-azul-marino{
		background-color: #355CA7;
	}
	.fondo-azul-claro{
		background-color: #4c5bfc;
	}
/*/Colores*/

/*Tabla*/
table, th, td {
  border: 1px solid #355CA7;
  border-collapse: collapse;
  
}
.porcentaje{
	text-align: center;
}
.total{
	text-align: right;
}
/*Tabla*/


/*Carrusel*/
	.slideshow-container {
	  position: relative;
	}
	.mySlides {
	  display: none;
	  padding-top: none;
	  padding-bottom: none;
	  text-align: justify;
	}
	.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  width: auto;
	  color: white;
	  background-color: rgba(0,0,0,0.2);
	  font-weight: bold;
	  user-select: none;
	}
	.next {
	  position: absolute;
	  right: 0;
	}
	.prev:hover, .next:hover {
	  background-color: rgba(0,0,0,0.8);
	  color: white;
	}
/*/Carrusel*/


/*Modulos de contenido*/
	
	.apartadoModulo {
		-webkit-transition: all 400ms ease-in-out;
		-moz-transition: all 400ms ease-in-out;
		-ms-transition: all 400ms ease-in-out;
		-o-transition: all 400ms ease-in-out;
		transition: all 400ms ease-in-out;
		/*height: 200px;
		width: 600px;*/
		position: relative;
		display: inline-block;
		background-image: url('../images/modulo1.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	.apartadoHover{
		display: none;
		height: 200px;
		width: 600px;
		position: relative;
		/*display: inline-block;*/
		display: none;
	}
	.apartadoHover .rectangulo{
		height: 200px;
		/*width: 100px;*/
		background-color: #3CA7B8;
		opacity: 90%;

		position: absolute;
	}
	.apartadoHover .recuadroNumero{
		height: 50px;
		width: 50px;
		z-index: 10;
		background-color: #4C5BFC;

		position: absolute;
	}
	

	.apartadoHover .triangulo{
		display: inline-block;
		width: 0; 
		height: 0; 
		/*left: 96px;*/
		border-top: 200px solid transparent;
		border-bottom: 0px solid #3CA7B8;
		/*border-left: solid #3CA7B8;*/
		opacity: 90%;
		text-align: center;
		position: absolute;
	}
	.tituloModulo{
		width: 300px; 
		top: 80px;
		position: absolute;
		color: white;
		z-index: 10;
	}
	.tituloModulo h3{
		font-weight: bold;
	}
	.texto{
		/*width: 400px; */
		line-height: 90%;
		top: 120px;
		/*font-size: 70%;*/
		position: absolute;
		color: white;
		z-index: 10;
	}
	
	.numeroModulo{
		width: 100px; 
		
		top: -30px;
		position: absolute;
		color: white;
		z-index: 10;
	}
	.numeroModulo p{
		font-weight: bold;
		font-size: 110%; 
	}
	
	.separacion{
		
		width: 55px;
		display: inline-block;
	}
	
	/*.apartadoModulo:hover{
		background-size: 200px 210px;
	}*/
	
	.apartadoModulo:hover .apartadoHover {
		opacity: 1.0;
		background-size: 100px 100px;
		display: inline-block;
		
	}
	.apartadoModulo:hover {
		background-size: 190px 190px;
		
	}


	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
/*/Modulos de contenido*/	

/*/Evaluación*/	
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #4c5bfc;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
/*/Evaluación*/	

@media screen and (max-width: 999px) {
	#carruselInformacion{
		display: none;
	}
	#informacionMovil{
		display: block;
	}
	#contenido{
		display: none;
	}
	#contenidoMovil{
		display: block;
	}
}

@media screen and (min-width: 1000px) {
	#carruselInformacion{
		display: block;
	}
	#informacionMovil{
		display: none;
	}
	#contenido{
		display: block;
	}
	#contenidoMovil{
		display: none;
	}
}

@media screen and (max-width: 1099px) {
	#contenido{
		display: none;
	}
	#contenidoMovil{
		display: block;
	}
}

@media screen and (min-width: 1100px) {
	#contenido{
		display: block;
	}
	#contenidoMovil{
		display: none;
	}
	
}




