/*Colores*/
	.fondo-teal{
		background-color: #3cadb8;
	}
	.fondo-verde{
		background-color: #6cbdb4;;
	}
	.fondo-azul-marino{
		background-color: #355CA7;
	}
	.fondo-azul-claro{
		background-color: #4c5bfc;
	}
/*/Colores*/


#imagen-introduccion{
    width:75%;
    height:75%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
#modulo1-imagen-introduccion {
    width: 40%;
}
#modulo1-imagen-proposito{
    width:40%;
}

#modulo1-tema1-imagen-1 {
    width: 30%;
}

#modulo1-tema2-imagen-1 {
    width: 30%;
}

#modulo1-tema3-imagen-1 {
    width: 25%;
}

#modulo1-tema4-imagen-1 {
    width: 40%;
}

@media (min-width: 992px) {
    #imagen-introduccion {
        width: 65%;
        height: 65%;
    }

    #imagen-tema-1 {
        width: 35%;
    }

    #imagen-tema-2 {
        width: 35%;
    }

    #imagen-tema-4 {
        width: 30%;
    }
}

* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next, .prevGeni, .nextGeni, .prevModal, .nextModal {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.prev {
  left: -9%;
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
  right: -9%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.prevModal {
  left: -9%;
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.nextModal {
  right: -9%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prevModal:hover, .nextModal:hover {
  background-color: #f1f1f1;
  color: black;
}

#modulo1{
	background-image: url('../images/moduloNormal.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
	
}
#modulo1:hover {
	background-image: url('../images/modulo1.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}
#modulo2{
	background-image: url('../images/moduloNormal.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
	
}
#modulo2:hover {
	background-image: url('../images/modulo2.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}
#modulo3{
	background-image: url('../images/moduloNormal.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
	
}
#modulo3:hover {
	background-image: url('../images/modulo3.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}
#modulo4{
	background-image: url('../images/moduloNormal.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
	
}
#modulo4:hover {
	background-image: url('../images/modulo4.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}

#evalDes{
	background-image: url('../images/modulo1/slide3.jpg');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}
#evalDes:hover {
	background-image: url('../images/eval.jpg');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}



.evaluacion,
.apartadoModulo {
    background-image: url('../images/moduloNormal.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;
    margin: 2px;
    font-size: 1.5em;
}
.evaluacion {
    height: 200px;
    line-height: 200px;
}
.apartadoModulo {
    height: 100px;
    line-height: 100px;
}



#actividad{
	background-color: #355ca7; 
	height: 250px;
	background-image: url('../images/actividad.png');
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: center;
}
#actividad:hover {
	background-color: #183d82; 
	background-image: url('../images/actividad.png');
	background-repeat: no-repeat;
	background-size: 220px 220px;
	background-position: center;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border-radius: 20px;
  background-color: #4C5BFC;
  
  max-width: 1100px;
	  position: relative;
	  margin: auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #4C5BFC;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab .tabTema{
  background-color: #4C5BFC;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #97abdb;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #6CBDB4;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;

}

.fuente{
	margin-left:15.65pt;
	text-indent:-15.65pt;
}
.fondo_verde{
	background-color: #6cbdb4;
}
.fondo_azul{
	background-color: #4c5bfc;
}
.disclaimer{
	font-size: small;
	margin-left:15.65pt;
	text-indent:-15.65pt;
	margin:0.3em;
	color: black;
}

p, li{
	text-align: justify;
}

.titulo{
	color: #355CA7;
}
.tabcontent{
	color: white;
	background-color: #6CBDB4;
	border-radius: 20px;
}


.slideshow-container {
	position: relative;
	margin: auto;
}




@media(min-width: 900px){
	.h4{
		font-size: 80%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:660px
	}
	p, li{
		font-size: 90%
	}
	.slideshow-container {
	  max-width: 670px;
	}
	.prev {
	  left: -10%;
	  border-radius: 3px 0 0 3px;
	}
	.next {
	  right: -10%;
	  border-radius: 3px 0 0 3px;
	}
	.prevModal {
	  left: 0%;
	  border-radius: 3px 0 0 3px;
	}

	.nextModal {
	  right: 0%;
	  border-radius: 3px 0 0 3px;
	}
	.prevGeni {
	  left: 20%;
	  border-radius: 3px 0 0 3px;
	}
	.nextGeni {
	  right: 20%;
	  border-radius: 3px 0 0 3px;
	}
	#imagenIntroduccion{
		width: 100%;
	}
	#textoIntroduccion{
		font-size: 90%;
		text-align: justify;
	}
	#imagenProposito{
		width: 100%;
	}
	#textoProposito{
		font-size: 100%;
		text-align: justify;
	}
	#br3{
		display: block;
	}
	#br4{
		display: block;
	}
	#brInicio{
		display: block;
	}
	#textoTema2{
		font-size: 90%;
		text-align: justify;
	}
	#img3{
		width: 70%;
	}
	#img4{
		width: 55%;
	}
	#textoTema22{
		font-size: 100%;
		text-align: justify;
	}
	#textoIntroFase2{
		font-size: 90%;
		text-align: justify;
	}
	#textoPropFase2{
		font-size: 180%;
		text-align: justify;
	}
	.imagenLogo{
		width: 35%;
	}
	.geniallyFrame{
		width: 40%;
	}
	#compensacionProposito1{
		height: 90px;
	}
	#compensacionProposito2{
		height: 80px;
	}
	#compensacionProposito3{
		height: 65px;
	}
	/* Style the tab */
	.tab {
	  overflow: hidden;
	  border-radius: 20px;
	  background-color: #4C5BFC;
	  max-width: 870px;
	  position: relative;
	  margin: auto;
	}

	/* Style the buttons inside the tab */
	.tab button {
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab .tabTema{
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab button:hover {
	  background-color: #97abdb;
	}
	.tab button.active {
	  background-color: #6CBDB4;
	  color: white;
	}
	.tabcontent {
		max-width: 870px;
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
		position: relative;
	  margin: auto;

	}
	.actividad-modal{
		background-image: url('../images/cuaderno-azul.png');
		position:relative;
		background-color: white;
		color: black;
		background-repeat: no-repeat;
		background-size: 600px 600px;
		background-position: center;
	}
	.recursoModal {
	text-align:center;
	color: white;
	background-color: #355ca7; 
	height: 190px;
	}
	.recursoModal:hover {
		background-color: #183d82; 
		cursos: pointer;
	}
}























@media(min-width: 1100px){/*computadora casa*/
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:840px
	}
	p, li{
		font-size: 90%
	}
	.slideshow-container {
	  max-width: 800px;
	}
	.prev {
	  left: -10%;
	  border-radius: 3px 0 0 3px;
	}
	.next {
	  right: -10%;
	  border-radius: 3px 0 0 3px;
	}
	.prevModal {
	  left: 0%;
	  border-radius: 3px 0 0 3px;
	}

	.nextModal {
	  right: 0%;
	  border-radius: 3px 0 0 3px;
	}
	.prevGeni {
	  left: 20%;
	  border-radius: 3px 0 0 3px;
	}
	.nextGeni {
	  right: 20%;
	  border-radius: 3px 0 0 3px;
	}
	#imagenIntroduccion{
		width: 100%;
	}
	#textoIntroduccion{
		font-size: 100%;
		text-align: justify;
	}
	#imagenProposito{
		width: 100%;
	}
	#textoProposito{
		font-size: 100%;
		text-align: justify;
	}
	#br3{
		display: block;
	}
	#br4{
		display: block;
	}
	#brInicio{
		display: block;
	}
	#textoTema2{
		font-size: 90%;
		text-align: justify;
	}
	#img3{
		width: 70%;
	}
	#img4{
		width: 55%;
	}
	#textoTema22{
		font-size: 100%;
		text-align: justify;
	}
	#textoIntroFase2{
		font-size: 90%;
		text-align: justify;
	}
	#textoPropFase2{
		font-size: 180%;
		text-align: justify;
	}
	.imagenLogo{
		width: 35%;
	}
	.geniallyFrame{
		width: 40%;
	}
	#compensacionProposito1{
		height: 90px;
	}
	#compensacionProposito2{
		height: 80px;
	}
	#compensacionProposito3{
		height: 65px;
	}
	/* Style the tab */
	.tab {
	  overflow: hidden;
	  border-radius: 20px;
	  background-color: #4C5BFC;
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
	}

	/* Style the buttons inside the tab */
	.tab button {
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab .tabTema{
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab button:hover {
	  background-color: #97abdb;
	}
	.tab button.active {
	  background-color: #6CBDB4;
	  color: white;
	}
	.tabcontent {
		max-width: 1000px;
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
		position: relative;
	  margin: auto;

	}
	.actividad-modal{
		background-image: url('../images/cuaderno-azul.png');
		position:relative;
		background-color: white;
		color: black;
		background-repeat: no-repeat;
		background-size: 600px 600px;
		background-position: center;
	}
	.recursoModal {
	text-align:center;
	color: white;
	background-color: #355ca7; 
	height: 190px;
	}
	.recursoModal:hover {
		background-color: #183d82; 
		cursos: pointer;
	}
}





















@media(min-width: 1300px){/*computadora casa*/
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:920px
	}
	/* Slideshow container */
	.slideshow-container {
	  max-width: 900px;
	  position: relative;
	  margin: auto;
	}
	.prev {
	  left: -10%;
	  border-radius: 3px 0 0 3px;
	}
	/* Position the "next button" to the right */
	.next {
	  right: -10%;
	  border-radius: 3px 0 0 3px;
	}
	.prevModal {
	  left: 0%;
	  border-radius: 3px 0 0 3px;
	}
	/* Position the "next button" to the right */
	.nextModal {
	  right: 0%;
	  border-radius: 3px 0 0 3px;
	}
	.prevGeni {
	  left: 20%;
	  border-radius: 3px 0 0 3px;
	}
	.nextGeni {
	  right: 20%;
	  border-radius: 3px 0 0 3px;
	}
	#imagenIntroduccion{
		width: 100%;
	}
	#textoIntroduccion{
		font-size: 100%;
		text-align: justify;
	}
	#imagenProposito{
		width: 100%;
	}
	#textoProposito{
		font-size: 100%;
		text-align: justify;
	}
	#br3{
		display: block;
	}
	#br4{
		display: block;
	}
	#brInicio{
		display: block;
	}
	#textoTema2{
		font-size: 90%;
		text-align: justify;
	}
	#img3{
		width: 70%;
	}
	#img4{
		width: 55%;
	}
	#textoTema22{
		font-size: 100%;
		text-align: justify;
	}
	#textoIntroFase2{
		font-size: 90%;
		text-align: justify;
	}
	#textoPropFase2{
		font-size: 180%;
		text-align: justify;
	}
	.imagenLogo{
		width: 40%;
	}
	.geniallyFrame{
		width: 40%;
	}
	#compensacionProposito1{
		height: 0px;
	}
	#compensacionProposito2{
		height: 0px;
	}
	#compensacionProposito3{
		height: 0px;
	}
	.tab {
	  overflow: hidden;
	  border-radius: 20px;
	  background-color: #4C5BFC;
	  max-width: 1100px;
	  position: relative;
	  margin: auto;
	}
	.tab button {
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab .tabTema{
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab button:hover {
	  background-color: #97abdb;
	}
	.tab button.active {
	  background-color: #6CBDB4;
	  color: white;
	}
	.tabcontent {
		max-width: 1100px;
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
		position: relative;
	  margin: auto;

	}
	.actividad-modal{
		background-image: url('../images/cuaderno-azul.png');
		position:relative;
		background-color: white;
		color: black;
		background-repeat: no-repeat;
		background-size: 600px 600px;
		background-position: center;
	}
	.recursoModal {
	text-align:center;
	color: white;
	background-color: #355ca7; 
	height: 250px;
	}
	.recursoModal:hover {
		background-color: #183d82; 
		cursos: pointer;
	}
	
	#imagenAudio{
		width: 100px;
		
	}
}


@media(min-width: 1500px){
	.h4{
		font-size: 120%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:1240px
	}
	/* Slideshow container */
	.slideshow-container {
	  max-width: 1250px;
	  position: relative;
	  margin: auto;
	}
	.prev {
	  left: -5%;
	  border-radius: 3px 0 0 3px;
	}
	/* Position the "next button" to the right */
	.next {
	  right: -5%;
	  border-radius: 3px 0 0 3px;
	}
	.prevModal {
	  left: 0%;
	  border-radius: 3px 0 0 3px;
	}
	/* Position the "next button" to the right */
	.nextModal {
	  right: 0%;
	  border-radius: 3px 0 0 3px;
	}
	.prevGeni {
	  left: 20%;
	  border-radius: 3px 0 0 3px;
	}
	.nextGeni {
	  right: 20%;
	  border-radius: 3px 0 0 3px;
	}
	#imagenIntroduccion{
		width: 100%;
	}
	#textoIntroduccion{
		font-size: 100%;
		text-align: justify;
	}
	#imagenProposito{
		width: 100%;
	}
	#textoProposito{
		font-size: 100%;
		text-align: justify;
	}
	#br3{
		display: block;
	}
	#br4{
		display: block;
	}
	#brInicio{
		display: block;
	}
	#textoTema2{
		font-size: 90%;
		text-align: justify;
	}
	#img3{
		width: 70%;
	}
	#img4{
		width: 55%;
	}
	#textoTema22{
		font-size: 100%;
		text-align: justify;
	}
	#textoIntroFase2{
		font-size: 90%;
		text-align: justify;
	}
	#textoPropFase2{
		font-size: 180%;
		text-align: justify;
	}
	.imagenLogo{
		width: 40%;
	}
	.geniallyFrame{
		width: 40%;
	}
	#compensacionProposito1{
		height: 0px;
	}
	#compensacionProposito2{
		height: 140px;
	}
	#compensacionProposito3{
		height: 0px;
	}
	.tab {
	  overflow: hidden;
	  border-radius: 20px;
	  background-color: #4C5BFC;
	  max-width: 1450px;
	  position: relative;
	  margin: auto;
	}
	.tab button {
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab .tabTema{
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab button:hover {
	  background-color: #97abdb;
	}
	.tab button.active {
	  background-color: #6CBDB4;
	  color: white;
	}
	.tabcontent {
		max-width: 1450px;
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
		position: relative;
	  margin: auto;

	}
	.actividad-modal{
		background-image: url('../images/cuaderno-azul.png');
		position:relative;
		background-color: white;
		color: black;
		background-repeat: no-repeat;
		background-size: 600px 600px;
		background-position: center;
	}
	.recursoModal {
	text-align:center;
	color: white;
	background-color: #355ca7; 
	height: 250px;
	}
	.recursoModal:hover {
		background-color: #183d82; 
		cursos: pointer;
	}
	#imagenAudio{
		width: 100px;
		
	}
}

@media(min-width: 1800px){
	.h4{
		font-size: 120%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:1450px
	}
	/* Slideshow container */
	.slideshow-container {
	  max-width: 1450px;
	  position: relative;
	  margin: auto;
	}
	.prev {
	  left: -5%;
	  border-radius: 3px 0 0 3px;
	}
	/* Position the "next button" to the right */
	.next {
	  right: -5%;
	  border-radius: 3px 0 0 3px;
	}
	.prevModal {
	  left: 0%;
	  border-radius: 3px 0 0 3px;
	}
	/* Position the "next button" to the right */
	.nextModal {
	  right: 0%;
	  border-radius: 3px 0 0 3px;
	}
	.prevGeni {
	  left: 20%;
	  border-radius: 3px 0 0 3px;
	}
	.nextGeni {
	  right: 20%;
	  border-radius: 3px 0 0 3px;
	}
	#imagenIntroduccion{
		width: 100%;
	}
	#textoIntroduccion{
		font-size: 100%;
		text-align: justify;
	}
	#imagenProposito{
		width: 100%;
	}
	#textoProposito{
		font-size: 100%;
		text-align: justify;
	}
	#br3{
		display: block;
	}
	#br4{
		display: block;
	}
	#brInicio{
		display: block;
	}
	#textoTema2{
		font-size: 90%;
		text-align: justify;
	}
	#img3{
		width: 70%;
	}
	#img4{
		width: 55%;
	}
	#textoTema22{
		font-size: 100%;
		text-align: justify;
	}
	#textoIntroFase2{
		font-size: 90%;
		text-align: justify;
	}
	#textoPropFase2{
		font-size: 180%;
		text-align: justify;
	}
	.imagenLogo{
		width: 30%;
	}
	.geniallyFrame{
		width: 40%;
	}
	#compensacionProposito1{
		height: 0px;
	}
	#compensacionProposito2{
		height: 140px;
	}
	#compensacionProposito3{
		height: 0px;
	}
	.tab {
	  overflow: hidden;
	  border-radius: 20px;
	  background-color: #4C5BFC;
	  max-width: 1650px;
	  position: relative;
	  margin: auto;
	}
	.tab button {
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab .tabTema{
	  background-color: #4C5BFC;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	.tab button:hover {
	  background-color: #97abdb;
	}
	.tab button.active {
	  background-color: #6CBDB4;
	  color: white;
	}
	.tabcontent {
		max-width: 1650px;
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
		position: relative;
	  margin: auto;

	}
	.actividad-modal{
		background-image: url('../images/cuaderno-azul.png');
		position:relative;
		background-color: white;
		color: black;
		background-repeat: no-repeat;
		background-size: 600px 600px;
		background-position: center;
	}
	.recursoModal {
	text-align:center;
	color: white;
	background-color: #355ca7; 
	height: 250px;
	}
	.recursoModal:hover {
		background-color: #183d82; 
		cursos: pointer;
	}
	#imagenAudio{
		width: 100px;
		
	}
}















