/*Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

#imagen-introduccion{
    width:75%;
    height:75%;
}


#modulo1-imagen-introduccion {
    width: 40%;
}

#modulo1-imagen-proposito{
    width:40%;
}

#modulo1-tema1-imagen-1 {
    width: 30%;
}

#modulo1-tema2-imagen-1 {
    width: 30%;
}

#modulo1-tema3-imagen-1 {
    width: 25%;
}

#modulo1-tema4-imagen-1 {
    width: 40%;
}



/*#imagen-tema-1 {
    width: 45%;    
}

#imagen-tema-2 {
    width: 45%;
}

#imagen-tema-4 {
    width: 45%;
}
*/



/* Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) {

}
*/
/* Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
    
}*/

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #imagen-introduccion {
        width: 65%;
        height: 65%;
    }

    #imagen-tema-1 {
        width: 35%;
    }

    #imagen-tema-2 {
        width: 35%;
    }

    #imagen-tema-4 {
        width: 30%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) {
    
}*/





* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;

}

/* Slides */
.mySlides {
  display: none;
  padding-top: none;
  padding-right: 80px;
  padding-bottom: none;
  padding-left: 80px;
  text-align: justify;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  background-color: rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


.imagenNormal{
	height : 200px;
	width : 200px;

}



.imagen-unidad{
	width: 70%;
	margin: auto;
	display: block;
}





#evalDes{
	background-image: url('../images/modulo1/slide3.jpg');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}
#evalDes:hover {
	background-image: url('../images/eval.jpg');
	background-repeat: no-repeat;
	background-size: 300px 100px;
}




.evaluacion,
.apartadoModulo {
    /*background-image: url('../images/moduloNormal.png');
	background-repeat: no-repeat;
	*/
	background-color: #355ca7;
	background-size: 100px 100px;
    margin: 1px;
    font-size: 1.5em;
}
.evaluacion {
    height: 200px;
    line-height: 200px;
}
.apartadoModulo {
    height: 200px;
    line-height: 100px;
}


#overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(108,189,180);
background: linear-gradient(90deg, rgba(108,189,180,0.5) 0%, rgba(76,91,252,0.5) 50%, rgba(53,92,167,0.5) 100%);
  z-index: 2;
}

.fondo-verde{
	background-color: #3cadb8;
}
.fondo-azul-claro{
	background-color: #4c5bfc;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.disclaimer{
	font-size: small;
	margin-left:15.65pt;
	text-indent:-15.65pt;
	margin:0.3em;
	color: black;
}

.col-mini, .col-margen {
    position: relative;
    min-height: 1px;
    padding-right: none;
    padding-left: none;
}
.titulo{
	color: #355CA7;
}



@media(min-width: 900px){/*zoom +*/
	.h4{
		font-size: 75%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:680px
	}
	.filaModulo{
		width: 675px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }
	#imagenPresentacion{
		width: 90%:
	}
	#textoPresentacion{
		font-size: 80%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 80%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 150px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 120px 120px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 340px 150px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 70px;
	}
	#compensacionUnidad2{
		height: 70px;
	}
	
	#compensacionTextoUnidad{
		height: 100px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
}


















@media(min-width: 1100px){/*zoom +*/
	.h4{
		font-size: 95%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:800px
	}
	.filaModulo{
		width: 755px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }
	#imagenPresentacion{
		width: 90%:
	}
	#textoPresentacion{
		font-size: 90%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 100%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 150px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 120px 120px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 390px 150px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 80px;
	}
	#compensacionUnidad2{
		height: 80px;
	}
	
	#compensacionTextoUnidad{
		height: 70px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
}


@media(min-width: 1300px){/*computadora casa*/
	.h4{
		font-size: 100%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:920px
	}
	.filaModulo{
		width: 835px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }
	#imagenPresentacion{
		width: 90%:
	}
	#textoPresentacion{
		font-size: 100%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 100%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 200px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 175px 175px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 410px 200px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 100px;
	}
	#compensacionUnidad2{
		height: 115px;
	}
	
	#compensacionTextoUnidad{
		height: 70px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
	
}

@media(min-width: 1500px){
	.h4{
		font-size: 120%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:1250px
	}
	.filaModulo{
		width: 1060px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }

	#textoPresentacion{
		font-size: 100%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 100%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 200px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 175px 175px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 525px 200px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 0px;
	}
	#compensacionUnidad2{
		height: 20px;
	}
	
	#compensacionTextoUnidad{
		height: 140px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
}
@media(min-width: 1700px){
	.h4{
		font-size: 120%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:1350px
	}
	.filaModulo{
		width: 1130px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }

	#textoPresentacion{
		font-size: 100%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 100%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 200px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 175px 175px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 595px 200px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 0px;
	}
	#compensacionUnidad2{
		height: 20px;
	}
	
	#compensacionTextoUnidad{
		height: 140px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
}


@media(min-width: 1800px){
	.h4{
		font-size: 120%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:1450px
	}
	.filaModulo{
		width: 1190px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }

	#textoPresentacion{
		font-size: 100%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 100%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 200px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 175px 175px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 595px 200px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 0px;
	}
	#compensacionUnidad2{
		height: 20px;
	}
	
	#compensacionTextoUnidad{
		height: 140px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
}


@media(min-width: 1900px){
	.h4{
		font-size: 120%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:1650px
	}
	.filaModulo{
		width: 1330px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }

	#textoPresentacion{
		font-size: 130%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 100%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 250px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 200px 200px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 685px 250px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 0px;
	}
	#compensacionUnidad2{
		height: 20px;
	}
	
	#compensacionTextoUnidad{
		height: 220px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
}


@media(min-width: 2000px){
	.h4{
		font-size: 120%;
	}
	.container-xl,.container-lg,.container-md,.container-sm,.container{
		max-width:1950px
	}
	.filaModulo{
		width: 1530px;
		padding: none;
	}
	.col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-mini {
        width: 1%;
		background-color: #dbdbdb;/
    }
	.col-margen {
        width: 7%;
		background-color: #dbdbdb;
    }

	#textoPresentacion{
		font-size: 160%;
		text-align: justify;
	}
	#br1{
		display: block;
	}
	#br2{
		display: block;
	}
	#textoUnidad{
		font-size: 140%;
		text-align: justify;
	}
	.apartadoModulo {
		position:relative;
		height: 250px;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 200px 200px;
		background-position: center;
	}

	.apartadoModulo:hover {
		background-repeat: no-repeat;
		background-size: 685px 250px;
		background-position: center;
	}
	#modulo1{
		background-image: url('../images/modulo1.png');
	}
	#modulo1:hover {
		background-image: url('../images/modulo1-hover.png');
	}
	#modulo2{
		background-image: url('../images/modulo2.png');
	}
	#modulo2:hover {
		background-image: url('../images/modulo2-hover.png');
	}
	#modulo3{
		background-image: url('../images/modulo3.png');
	}
	#modulo3:hover {
		background-image: url('../images/modulo3-hover.png');
	}
	#modulo4{
		background-image: url('../images/modulo4.png');
	}
	#modulo4:hover {
		background-image: url('../images/modulo4-hover.png');
	}
	#apartadoEvaluacion {
		background-image: url('../images/cuaderno.png');
		height: auto;
		line-height: 100px;
		background-repeat: no-repeat;
		background-size: 250px 250px;
		background-position: center;
	}
	#apartadoEvaluacion:hover {
		background-image: url('../images/eval-hover.png');
	}
	
	#imagenUnidad{
		width: 90%;
	}
	#compensacionUnidad{
		height: 0px;
	}
	#compensacionUnidad2{
		height: 20px;
	}
	
	#compensacionTextoUnidad{
		height: 220px;
	}
	#separacionModulos{
		width: 10px;
	}
	#separacionVerticalModulos{
		height: 10px;
	}
}






