.tab-content {
    border-left: 1px solid #8E8E8E;
    border-right: 1px solid #8E8E8E;
    border-bottom: 1px solid #8E8E8E;
}

.link-tab-pregunta {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.modalidad-observacion {
    min-height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.modalidad-observacion:hover {
    color: white;
    background: #720101;
}

.modalidad-observacion span {
    position: absolute;
    right: 10px;
    bottom: 2px;
    font-weight: 700;
}

.modalidad-observacion p {
    margin-bottom: 0;
}

.modalidad-detalle p {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modalidad-detalle {
    padding-left: 15px;
    padding-right: 15px;
}

.modalidad-detalle ul {
    margin-bottom: 0;
}

.modalidad-a {
    background: #F6E064;
}

.modalidad-a-expandido {
    background: #F4F1B8;
}

.modalidad-b {
    background: #F7BD31;
}

.modalidad-b-expandido {
    background: #F4F1B8;
}

.modalidad-c {
    background: #E8CE4D;
}

.modalidad-c-expandido {
    background: #F4F1B8;
}

.modalidad-d {
    background: #E2A427;
}

.modalidad-d-expandido {
    background: #F4F1B8;
}

.cls-18:hover {
    cursor: pointer;
    fill: #720101;
}

.cls-26:hover {
    cursor: pointer;
    fill: #720101;
}

@media screen and (max-width: 767px) {
    .cls-29 {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    #contenedor-capa {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}


.cls-1,
.cls-2,
.cls-28,
.cls-30 {
    fill: none;
}

.cls-2 {
    stroke: #74475e;
}

.cls-2,
.cls-28,
.cls-29,
.cls-30 {
    stroke-miterlimit: 10;
}

.cls-2,
.cls-29 {
    stroke-width: 8px;
}

.cls-3 {
    clip-path: url(#clip-path);
}

.cls-4 {
    font-size: 32.57px;
    font-family: Viga-Regular, Viga;
}

.cls-19,
.cls-29,
.cls-4 {
    fill: #fff;
}

.cls-5 {
    fill: #f4f1b8;
}

.cls-6 {
    clip-path: url(#clip-path-2);
}

.cls-7 {
    fill: #b5c0ca;
}

.cls-8 {
    fill: #dae4ea;
}

.cls-9 {
    fill: #ced9e0;
}

.cls-10 {
    fill: #f6e064;
}

.cls-11 {
    fill: #e8ce4d;
}

.cls-12 {
    fill: #f7bd31;
}

.cls-13 {
    fill: #eaae2a;
}

.cls-14 {
    fill: #aab4bc;
}

.cls-15 {
    fill: #5e6870;
}

.cls-16 {
    fill: #fcfbd5;
}

.cls-17 {
    fill: #bdc3c6;
}

.cls-18 {
    fill: #74475e;
}

.cls-19 {
    font-size: 24px;
    font-family: Poppins-Regular, Poppins;
}

.cls-20 {
    clip-path: url(#clip-path-3);
}

.cls-21 {
    clip-path: url(#clip-path-4);
}

.cls-22 {
    opacity: 0.3;
}

.cls-23 {
    opacity: 0.25;
}

.cls-24 {
    fill: #454c51;
}

.cls-25 {
    fill: #81e2ef;
    opacity: 0.5;
}

.cls-26 {
    fill: #0f6884;
}

.cls-27 {
    clip-path: url(#clip-path-5);
}

.cls-28,
.cls-30 {
    stroke: #fff;
}

.cls-28 {
    stroke-width: 3px;
}

.cls-29 {
    stroke: #0f6884;
}

.cls-30 {
    stroke-width: 4px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.no-gutters {
    overflow: hidden;
}

@media screen and (min-width: 768px) {

    #cruzada-1 {
        margin-top: -40%;
    }

    #cruzada-1 img {
        margin-top: 50%;
        margin-right: -135%;
    }

    #cruzada-2 {
        margin-top: -12%;
    }
}

@media screen and (min-width: 992px) {

    #cruzada-1 {
        margin-top: -25%;
    }

    #cruzada-1 img {
        margin-top: 30%;
        margin-right: -80%;
    }

}

@media screen and (min-width: 1200px) {

    #cruzada-1 {
        margin-top: -10%;
    }

    #cruzada-1 img {
        margin-top: 10%;
        margin-right: -50%;
    }

}

.sub b {
    text-decoration: underline;
}