/******************Etiquetas******************/
body{
	background-color: #dbdbdb;
}
a{
	text-decoration: none;
}
/******************Clases******************/
.aireSobreEE{
	height: 20px;
}
.botonSobreEE{
	background-color: #DBDBDB;
	color: #0550FF;
	border-color: #0550FF;
}
.campoModulo{
	background-color: #6CBDB4;
	border-radius: 25px;
}
.centrado{
		text-align: center;
}
.contadorReferencia{
	font-size:60%;
}
.circuloModulo{
	border-radius: 50%;
	width: 75px;
    height: 75px;
    background: #355CA7;
    border: 3px solid #000;
}
.fondoAzul{
	background-color: #4C5BFC;
}
.fondoVerde{
	background-color: #6CBDB4;
}
.referencia{
	font-size: small;
	margin-left:15.65pt;
	text-indent:-15.65pt;
	margin:0.3em;
	color: black;
}
.textoModulo{
	margin-left: 20px;
	color: white;
	font-weight: bold;
}
.textoSeccion{
	color: #1e56aa;
	font-size: 20pt;
	font-weight: bold;
}
/******************IDs******************/
#airePresentacion{
	background-color: white;
	height: 10px;
}
#boton-disclaimer{
	background-color: #69B7AE;
	color: white;
}
#botonPresentacion{
	background-color: #3CADB8;
	color: white;
	font-weight: bold;
}
#botonUnidad{
	background-color: #4C5BFC;
	color: white;
	font-weight: bold;
}
#cicrculoModulo1{
	background-image: url('../imagenes/modulo1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px 50px;
}
#cicrculoModulo2{
	background-image: url('../imagenes/modulo2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px 50px;
}
#cicrculoModulo3{
	background-image: url('../imagenes/modulo3.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px 50px;
}
#cicrculoModulo4{
	background-image: url('../imagenes/modulo4.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px 50px;
}
#cuadroPresentacion{
	background-color: white;
	border-bottom: solid;
	border-width: 1px;
}
#encabezadoScroll{
	background-color: white;
	padding: 20px 10px; 
	color: #1e56aa;
	text-align: center; 
	font-size: 20px; 
	font-weight: bold;
	position: fixed; 
	top: 0;
	width: 100%; 
	transition: 0.2s;
	display: none;
}
#imagenLogo{
	height: 50px;
}
#imagenLogoScroll{
	
}
#imagenPortada{
	height: 250px;
}
#pie{
	background-color: #dbdbdb;
}

#tituloPresentacion{
	color: #1e56aa;
	font-size: 20pt;
	font-weight: bold;
}


@media only screen and (min-width: 1000px) {
	#cuadroPresentacion{
		display: none;
	}
	#encabezadoScroll{
		display: none;
	}
	#acordeonInformacion{
		display: none;
	}
  }